.machinesPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/573903624428.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.machineNav {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.machineTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 40%;
  font-size: 250%;
  font-family: "Orbitron", sans-serif;
  color: rgb(255, 196, 0);
  background-color: rgba(0, 0, 0, 0.41);
}
.machinesSpace {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
}
.machine {
  height: 90%;
  width: 90%;
  background-color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}
#displayResult {
  background-color: rgb(0, 0, 0);
  border: 4px solid rgb(152, 152, 152);
  height: 20%;
  width: 60%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#machineResult {
  font-size: 200%;
  color: rgb(183, 155, 0);
  font-family: "Graduate", cursive;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#machineChips {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 100%; */
  color: rgb(183, 155, 0);
  font-family: "Graduate", cursive;
}
.rollers {
  background-color: rgba(190, 1, 1, 0.729);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40%;
  width: 70%;
  border-radius: 10px;
  border: 3px solid black;
}
.roller {
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  border-radius: 10px;
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.machineImg {
  height: 100%;
  width: 100%;
}
.machineBtnSpace {
  width: 60%;
  height: 15%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.upDownBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 40%;
}
.chipBtn {
  width: 100%;
  height: 50%;
  border: 1px solid rgb(78, 78, 78);
  background-color: rgb(142, 142, 142);
  color: aliceblue;
}
.slot {
  height: 60%;
  width: 80%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slotAnimated1 {
  animation-name: example1;
  animation-duration: 3.5s;
  animation-delay: 0.5s;
}
.slotAnimated2 {
  animation-name: example2;
  animation-duration: 3.5s;
  animation-delay: 0.5s;
}
.slotAnimated3 {
  animation-name: example3;
  animation-duration: 3.8s;
  animation-delay: 0.2s;
}
@keyframes example1 {
  0% {
    background-color: red;
  }
  5% {
    background-color: black;
  }
  15% {
    background-color: yellow;
  }
  25% {
    background-color: purple;
  }
  45% {
    background-color: blue;
  }
  50% {
    background-color: white;
  }
  65% {
    background-color: green;
  }
  80% {
    background-color: red;
  }
  85% {
    background-color: black;
  }
  100% {
    background-color: blue;
  }
}
@keyframes example2 {
  0% {
    background-color: black;
  }
  5% {
    background-color: purple;
  }
  15% {
    background-color: red;
  }
  25% {
    background-color: green;
  }
  30% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  65% {
    background-color: white;
  }
  75% {
    background-color: blue;
  }
  85% {
    background-color: purple;
  }
  100% {
    background-color: black;
  }
}
@keyframes example3 {
  0% {
    background-color: blue;
  }
  5% {
    background-color: red;
  }
  15% {
    background-color: yellow;
  }
  25% {
    background-color: blue;
  }
  35% {
    background-color: black;
  }
  50% {
    background-color: black;
  }
  65% {
    background-color: green;
  }
  75% {
    background-color: blue;
  }
  90% {
    background-color: white;
  }
  100% {
    background-color: purple;
  }
}
.slot1 {
  background-color: rgb(0, 0, 0);
}
.chipsWallet {
  height: 10%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graduate", cursive;
  font-size: 120%;
  color: rgb(241, 185, 0);
  border: 2px solid rgb(174, 61, 0);
  background-color: rgb(88, 26, 12);
}
#walletImg {
  height: 50%;
}
